html {
    height: 100%;
}

body {
    background-color: #ECE6F5;
    height: 100%;
}
#myWork {
   background-color: #635DB6;
}
/* sticky footer positioning */
footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    color: white;
    font-size: smaller;
}
/* negative margin for sticky footer */
main {
    margin-bottom: 60px;
}