body {
    background-color: #ECE6F5
}
#myWork {
   background-color: #635DB6;
}
/* sticky footer positioning */
footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    color: white;
    font-size: smaller;
}
