html {
    height: 100%;
}

body {
    background-color: #7c5a9d;
    height: 100%;
}
#myWork {
   background-color: #635DB6;
}
/* sticky footer positioning */
footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    color: white;
    font-size: smaller;
}
/* negative margin for sticky footer */
main {
    margin-bottom: 60px;
}

#showcase2 {
    padding-bottom: 100px;
    background-color: #ece6f5;
}
h2 {
    text-align: center;
    padding: 50px 0 20px 0;
}

#showcase1 section {
    margin-top: 100px;
}