html {
    height: 100%;
}

body {
    background-color: #ece6f5;
    height: 100%;
}

#myWork {
   background-color: #635DB6;
}

footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    color: white;
    font-size: smaller;
}

main {
    margin-bottom: 60px;
}

#showcase2, #showcase3 {
    padding-bottom: 100px;
    background-color: #ece6f5;
}

h2 {
    padding: 50px 0 20px 0;
}

#showcase1 section {
    margin-top: 100px;
}

#icons a {
    color: black;
    padding-right: 50px; 
}

.fas, .fab {
    padding-right: 15px; 
    color: #7c5a9d;;
}